force-app/main/default/flows/Atualiza_Campo_Pago.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Status_Pagamento_Pago</name>
        <label>Status Pagamento Pago</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Pago</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pago</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Atualizar_Viagem</targetReference>
            </connector>
            <label>Pago</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Atualiza Campo Pago {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Atualiza Campo Pago</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Atualizar_Despesa</name>
        <label>Atualizar Despesa</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Pago__c</field>
            <value>
                <elementReference>Pago</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pago_pela_empresa</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Despesas__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Atualizar_Viagem</name>
        <label>Atualizar Viagem</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Atualizar_Despesa</targetReference>
        </connector>
        <inputAssignments>
            <field>Pago_pela_empresa__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Viagens__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Pagamento_Pago</targetReference>
        </connector>
        <object>Pagamento__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordDespesa</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordViagem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
