force-app/main/default/flows/Automacoes_Conta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Atribuir_Id_Conta</name>
        <label>Atribuir Id Conta</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RecordConta.Id</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Obter_Registro_da_Conta.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualizar_Campo_Fechar_Oportunidades</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Automações Conta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automações Conta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Registro_da_Conta</name>
        <label>Obter Registro da Conta</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_Id_Conta</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Campo_Fechar_Oportunidades</name>
        <label>Atualizar Campo Fechar Oportunidades</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordConta.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fechar_Oportunidades__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Registro_da_Conta</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>RecordConta</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
