force-app/main/default/flows/Cria_Evento_Viagens.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cria_Evento_das_Viagens</name>
        <label>Cria Evento das Viagens</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>CriaEventoViagem</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Envia_Notificacao_de_Evento</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>novasViagens</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CriaEventoViagem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Envia_Notificacao_de_Evento</name>
        <label>Envia Notificação de Evento</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>CriaNotificacaoViagem</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientsId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CriaNotificacaoViagem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Cria Evento Viagens {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cria Evento Viagens</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cria_Evento_das_Viagens</targetReference>
        </connector>
        <object>Viagem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
