force-app/main/default/flows/Criar_Nome_Padrao_Proposta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Atribuir_Nome_Conta</name>
        <label>Atribuir Nome Conta</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>contaName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Opportunity.Account.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atribuir_Numero_Sequencial</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Atribuir_Numero_Sequencial</name>
        <label>Atribuir Número Sequencial</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>numeroSeq</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Numero_Sequencial__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Atualiza_Nome_Proposta</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>novoNome</name>
        <dataType>String</dataType>
        <expression> &apos;PP-&apos; + {!contaName} + &apos;-&apos; + {!numeroSeq}</expression>
    </formulas>
    <interviewLabel>Criar Nome Padrão Proposta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Criar Nome Padrão Proposta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Obter_Conta_Associada</name>
        <label>Obter Conta Associada</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_Nome_Conta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualiza_Nome_Proposta</name>
        <label>Atualiza Nome Proposta</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>novoNome</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Obter_Conta_Associada</targetReference>
        </connector>
        <object>Quote</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contaName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Obter_Conta_Associada.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>numeroSeq</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
