force-app/main/default/flows/Enviar_Notificacao_de_Ajuste_de_Viagem.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cria_Novo_Evento_Para_Viagem</name>
        <label>Cria Novo Evento Para Viagem</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>CriaEventoViagem</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Enviar_Notificacao_de_Viagem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>novasViagens</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CriaEventoViagem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Criar_Notificacao_de_Ajuste_de_Viagem</name>
        <label>Criar Notificação de Ajuste de Viagem</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>CriaNotificacaoDeAjusteViagem</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Excluir_Registro_de_Viagem</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>viagens</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CriaNotificacaoDeAjusteViagem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Enviar_Notificacao_de_Viagem</name>
        <label>Enviar Notificação de Viagem</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>CriaNotificacaoViagem</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientsId</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CriaNotificacaoViagem</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Verificar_Se_Ja_Tem_Compromisso</name>
        <label>Verificar Se Já Tem Compromisso</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Criar_Notificacao_de_Ajuste_de_Viagem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Tem Compromisso</defaultConnectorLabel>
        <rules>
            <name>Tem_Compromisso</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordEvent.ActivityDateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Data_Hora_da_Ida__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordEvent.EndDateTime</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Data_Hora_da_Volta__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecordEvent.WhoId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Colaborador__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cria_Novo_Evento_Para_Viagem</targetReference>
            </connector>
            <label>Tem Compromisso</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Enviar Notificação de Ajuste de Viagem {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enviar Notificação de Ajuste de Viagem</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Excluir_Registro_de_Viagem</name>
        <label>Excluir Registro de Viagem</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verificar_Se_Ja_Tem_Compromisso</targetReference>
        </connector>
        <object>Viagem__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>RecordEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>recordViagemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
